Source: arduino-mux
Section: misc
Priority: optional
Maintainer: Simon Arlott <ubuntu@sa.me.uk>
Build-Depends: debhelper (>= 12), libsystemd-dev (>= 225)
Standards-Version: 4.1.4

Package: arduino-mux
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Arduino pin monitor multiplexer
 Monitors the pin changes of an Arduino and stores them in
 one or more message queues.

Package: arduino-mux-dbg
Architecture: any
Depends: arduino-mux (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for arduino-mux
 This package contains the debugging symbols for arduino-mux
